In [7]:
x="hello worldoiefo"

In [8]:
x.upper()

'HELLO WORLDOIEFO'

In [10]:
my_dict = {'key1':'value1','key2':'value2'}

In [11]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [12]:
my_dict['key1']

'value1'

In [16]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.99}

In [17]:
prices_lookup

{'apple': 2.99, 'oranges': 1.99, 'milk': 5.99}

In [18]:
prices_lookup['milk']

5.99

In [19]:
d = {'d1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [23]:
d['k2'][2]

2

In [22]:
d['k3']['insidekey']

100

In [24]:
d={'k1':['a','b','c']}

In [25]:
mylist = d['k1'][2].upper()

In [26]:
d['k1']

['a', 'b', 'c']

In [27]:
mylist

'C'

In [30]:
d['k1'][2].upper()

'C'

In [31]:
d={'k1':100,'k2':200}

In [32]:
d['k3']=300

In [33]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [34]:
d['k1'].pop()

AttributeError: 'int' object has no attribute 'pop'

In [35]:
t=(1,2,3)

In [36]:
mylist = [1,2,3]

In [40]:
type(t)

tuple

In [41]:
len(t)

3

In [42]:
t

(1, 2, 3)

In [43]:
t=('one',2)

In [44]:
t

('one', 2)

In [45]:
t[0]

'one'

In [46]:
t[-1]

2

In [47]:
t = ('a','a','b')

In [48]:
t.count('a')

2

In [51]:
t.index('a')

0

In [52]:
t.index('b')

2

In [53]:
t

('a', 'a', 'b')

In [54]:
mylist[0] = 'new'

In [55]:
mylist

['new', 2, 3]

In [56]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [57]:
myset = set()

In [58]:
myset

set()

In [59]:
myset.add(1)

In [60]:
myset

{1}

In [61]:
myset.add(2)

In [62]:
myset

{1, 2}

In [63]:
myset.add(2)

In [64]:
myset

{1, 2}

In [65]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3]

In [66]:
set(mylist)

{1, 2, 3}

In [68]:
%%writefile test.txt
Hello this is a text file
this is the second line
this is the third line

Writing test.txt

In [69]:
myfile = open('test.txt')

In [70]:
pwd

'/Users/Abijith/PythonUdemy'

In [71]:
ls

Numbers.ipynb  test.txt

In [72]:
myfile = open('test.txt')

In [73]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [74]:
myfile.read()

''

In [75]:
myfile.seek(0)

0

In [76]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [77]:
myfile.seek(0)

0

In [78]:
contents = myfile.read()

In [79]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [80]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [82]:
myfile.read()

''

In [83]:
myfile.seek(0)

0

In [84]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [85]:
myfile.readlines()

[]

In [86]:
myfile.seek(0)

0

In [87]:
myfile.close()

In [89]:
with open('test.txt',mode='r') as myfile:
    contents = myfile.read()

In [90]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [ ]:
with open('test.txt',mode='w') as myfile:
    contents = myfile.read()

In [98]:
%%writefile test.txt
one on first
two on second
three on third

Overwriting test.txt

In [99]:
with open('test.txt',mode='r') as f:
    print(f.read())

one on first
two on second
three on third

In [100]:
with open('test.txt',mode='a') as f:
    f.write('\nfour on fourth')

In [101]:
with open('test.txt',mode='r') as f:
    print(f.read())

one on first
two on second
three on third

four on fourth

In [102]:
 with open('whbdkdjb.txt',mode='w') as f:
    f.write('i created this file')

In [104]:
with open('whbdkdjb.txt',mode='r') as f:
    print(f.read())

i created this file

In [117]:
d = {'k1':1,'k2':2,'k3':3}
for key,value in d:
    print(key)
    print(value)

k
1
k
2
k
3

In [133]:
st = 'Sam Print only the words that start with s in this sentence'

In [141]:
[word for word in st.split() if word[0].lower() == 's']

['Sam', 'start', 's', 'sentence']

In [155]:
st = 'Sam Print only the words that start with s in this sentence'
[word for word in st.split() if len(word)%2 == 0]

['only', 'that', 'with', 'in', 'this', 'sentence']

In [162]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Buzz')
    
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [163]:
st = 'Create a list of the first letters of every word in this string'
[letter[0] for letter in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [168]:
def myfunc(a,b,c=0,d=0,e=0):
    # returns 5% of sum of a and b
    return sum((a,b,c,d,e))*0.05

In [169]:
myfunc(40,60,100,100,100)

20.0

In [170]:
def myfunc(*args):
    return sum(args) * 0.05

In [171]:
myfunc(40,60,100)

10.0

In [176]:
def myfunc(** kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('no fruit here')

In [177]:
myfunc(fruit='apple', veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [180]:
def myfunc(*args,**kwargs):
    print('i would like {} {}'.format(args[0],kwargs['food']))

In [181]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

i would like 10 eggs

In [290]:
def myfunc(word):
    newList = []
    for index in range(len(word)):
        if index%2==0:
            newList.append(word[index].lower())
        else:
            newList.append(word[index].upper())
    return ''.join(newList)

In [292]:
myfunc('hello')

'hElLo'

In [299]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [302]:
lesser_of_two_evens(2,5)

5

In [318]:
def myfunc(words):
    return words.split()[0][0].lower() == words.split()[1][0].lower()

In [320]:
myfunc('llama Lava')

True

In [321]:
def makes_twenty(n1,n2):
    return n1+n2==20 or n1 == 20 or n2 == 20

In [324]:
makes_twenty(20,13)

True

In [332]:
def om(name):
    name[0].upper()
    name[3].upper()
    return name[0].upper()

In [334]:
om('lavas')

'L'

In [349]:
def yoda(text):
    newlist = [word for word in text.split()[::-1]]
    return ' '.join(newlist)

In [352]:
yoda('hello my name is abi')

'abi is name my hello'

In [405]:
def has_33(nums):
    print(nums[0:1])
    print(len(nums))
    for i in range(0,len(nums)-1):
        print('hello')
        #if nums[i:i+2] == [3,3]:
         #   return True
    return False

In [406]:
has_33([1,3,3,1,3])

[1]
5
hello
hello
hello
hello

False

In [385]:
def paper_doll(text):
    result = ''
    for i in text:
        result += i*3
    return result

In [387]:
paper_doll('hello')

'hhheeellllllooo'

In [391]:
def funct(result):
    return result[0] == result[0].upper()

In [393]:
funct('hello')

False

In [397]:
4/3

1.3333333333333333

In [398]:
def myfunc(word):
    uppercase = 0
    lowercase = 0
    for letter in word:
        if letter.isUpper():
            uppercase+=1
        else letter.isLower():
            lowercase+=1
    print(f'lowercase: {lowercase}')
    print(f'uppercase: {uppercase}')

SyntaxError: invalid syntax (<ipython-input-398-2a47d556687e>, line 7)

In [485]:
    def balancedStringSplit(s):

In [486]:
balancedStringSplit('RRRLLL')

0

In [460]:
s[0:3] == s[3:6]

False

In [433]:
myfunc('RRRLLL')

R
R
R
L
L
L

In [488]:
s = 3
s*'l'

'lll'

In [547]:
def selfDividingNumbers(left:int, right:int):
    numList = []
    for num in range(left,right+1):
        div = num
        while div != 0:
            mod = div % 10
            if num%mod != 0:
                break
            div = int(div/10)
        numList.append(num)
    return numList

In [548]:
selfDividingNumbers(1,22)

ZeroDivisionError: integer division or modulo by zero

In [558]:
num = div = 128

In [550]:
# div !=0

In [566]:
mod = div%10
mod, div

(8, 128)

In [567]:
num%mod!=0

False

In [568]:
div = int(div/10)
div

12

In [569]:
mod = div%10
mod, div

(2, 12)

In [570]:
num%mod!=0

False

In [571]:
div=int(div/10)
div

1

In [572]:
mod = div%10
mod, div

(1, 1)

In [573]:
num%mod!=0

False

In [574]:
div = int(div/10)

In [575]:
div

0